/* Here I've added google font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



/* This is the universal selector */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}



/* body width defined */
/*The design of the figma file's width is 1440px that why here the boyd width define 1440px */

body{
    max-width:1440px;
    height: auto;
    margin:0 auto;
    font-family: "Azeret Mono", monospace;


}

/* body design ends here */




/* nav bar design starts from here */
.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:30px 120px;
}
.nav_bar .nav_title h2{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-family: Azeret Mono;
    font-weight: 800;
    line-height: 33px;
    text-align: left;
}
.nav_bar .nav_button .nab_btn{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    width:228px;
    height: 58px;
    border:none;
}

/* nav bar design ends here */





/* banner design starts from here */
.banner_container{
    background: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:1440px;
    height: 652px;
    margin-bottom: 74px;
}
.banner_content{
    width:998px;
    height: 580px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.banner_content .image{
    margin-top:32px;
}
.banner_header h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin:32px 0 24px 0;
}
.banner_des p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

.btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding:21px;
    border:none;
    text-decoration: none;
}

/* banner design ends here */






/* main design starts from here */
/* width of the main section define here */
main{
    width:1140px;
    height: auto;
    margin:0 auto;

}
/* main design ends from here */

/* Development section starts from here */
#development{
    width:1140px;
    height: 1395px;
    border-radius: 16px;
    background:rgba(13, 19, 33, 0.02);
    margin-bottom: 88px;
}

.development_container{
    padding:80px;
}
.development_header{
    margin:0 48px 48px 48px;
}
.development_header h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.development_header p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    text-align: center;
}


.first_div,.second_div,.third_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:40px;
    padding:48px;
    margin-bottom: 32px;
    background: white;
}

.first_div h3,.second_div h3,.third_div h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-bottom: 16px;
}
.first_div p,.second_div p,.third_div p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 42px;
}

.first_div a,.second_div a,.third_div a{
    text-decoration: none;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding:15px;

}

/* Development section ends here */




/* inspiration section design starts from here */
.inspiration{
    width:100%;
    height: 777px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
}

.inspiration_content{
    width:852px;
    margin:0 auto;
}
.inspiration_content h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.inspiration_content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
}

.inspiration_ifame{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 100%;
    height: 100%;
    padding: 25px;

}

/* inspiration section design ends here */


/* current target design starts from here */

.current_target{
    width:100%;
    height:auto;
    margin-bottom: 100px;
}
.current_target_header{
    width:70%;
    margin:0 auto;
    text-align: center;
}
.current_target_header h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.current_target_header p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
}
.current_target_card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
}

.HTML,.CSS,.JAVASCRIPT{
    padding:40px;
    border-radius: 16px;
}
.HTML img,.CSS img,.JAVASCRIPT img{
    margin-bottom: 24px;
}
.HTML{
    background: rgba(255, 76, 30, 0.05);
}
.HTML h2,.CSS h2, .JAVASCRIPT h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin-bottom: 8px;
}
.HTML p,.CSS p, .JAVASCRIPT p{
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 24px;
}
.HTML a,.CSS a, .JAVASCRIPT a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.CSS{
    background: rgba(0, 76, 232, 0.05);
}
.JAVASCRIPT{
    background: rgba(255, 223, 0, 0.05);
}

/* current target design ends here */




/* next target design starts from here */
.next_target{
    width:100%;
    height:auto;
    margin-bottom: 100px;
}
.next_target_header{
    width:70%;
    margin:0 auto;
    text-align: center;
}

.next_target_header h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.next_target_header p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
}

.next_target_card{
    display: flex;
    flex-direction: column;
    gap:25px;
}

.reactJs,.nodeJs,.mongoDB{
    padding:40px;
    border-radius: 16px;
    border:2px solid rgba(128, 128, 128, 0.364);
    display: flex;
    gap:25px;
}

.reactJs h2,.nodeJs h2, .mongoDB h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin-bottom: 8px;
}
.reactJs p,.nodeJs p, .mongoDB p{
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 24px;
}
.reactJs a,.nodeJs a, .mongoDB a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
}

/* next target design ends here */




/* support section design starts from here */

.support_section{
    background-image:linear-gradient(180deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: 315px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:60px;
}

.support_context h2{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-bottom: 16px;
}
.support_context p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 30px;
}
.input_field input[type="text"]{
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width:550px;
    height: 57px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-left: 20px;
    border:none;
}
.input_field input[type="submit"]{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    width:120px;
    height: 58px;
    border:none;

}

/* support section design ends here */


/* main design ends here */